<!DOCTYPE html>
<html lang="en" ng-app="remoteControlApp">
    <head>
      <meta charset="utf-8">
      <title>CVRemote Client</title>
      <link rel="stylesheet" href="/style.css" media="screen">
      <script src="/engine.io.js"></script>
      <script src="/jquery.min.js"></script>
      <script src="/angular.min.js"></script>
      <script src="/scrollglue.js"></script>
      <script src="/controller.js"></script>
    </head>
    <body>
      <div id="main" ng-controller="RemoteCTRL">
        <div id="top">
          <img ng-src="{{'data:image/png;base64,'+img}}" id="debug_img">
        </div>
        <div id="bottom">
          <button ng-click="send('_default.yml')">SPAWN DEFAULT</button>
          <button ng-click="send('/')">STOP CHILD</button>
          <br />
          <button ng-click="getParams()">PARAMS</button>
          <button ng-click="getFrame()">FRAME</button>
          <button ng-click="stream = true; getFrame();">STREAM</button>
          <button ng-click="stream = false;">STOP STREAMING</button>
          <br />
          <input type="text" ng-model="query"><button ng-click="sendQuery()">SEND</button><br />
          <br />
          <input type="text" ng-model="_scale"><button ng-click="send('SET scale '+_scale)">scale</button><br />
          <input type="text" ng-model="_flip"><button ng-click="send('SET flip '+_flip)">flip</button><br />
          <input type="text" ng-model="_captureWidth"><button ng-click="send('SET captureWidth '+_captureWidth)">captureWidth</button><br />
          <input type="text" ng-model="_captureHeight"><button ng-click="send('SET captureHeight '+_captureHeight)">captureHeight</button><br />
          <input type="text" ng-model="_captureFPS"><button ng-click="send('SET captureFPS '+_captureFPS)">captureFPS</button><br />
          <input type="text" ng-model="_markerSize"><button ng-click="send('SET markerSize '+_markerSize)">markerSize</button><br />
          <input type="text" ng-model="_threshold"><button ng-click="send('SET threshold '+_threshold)">threshold</button><br />
          <input type="text" ng-model="_searchScale"><button ng-click="send('SET searchScale '+_searchScale)">searchScale</button><br />
          <input type="text" ng-model="_outFile"><button ng-click="send('SET outFile '+_outFile)">outFile</button><br />
          <button ng-click="send('SET SAVE')">SAVE</button><br />
          
          <table id="profileTab">
            <tr ng-repeat='(key, val) in timers track by key'>
                <td>{{key}}: </td><td>{{val}}</td>
            </tr>
          </table>
          <div id="pos">
              <table id="profileTab">
                <tr>
                    <td>{{xpos}}</td>
                    <td>{{ypos}}</td>
                    <td>{{zpos}}</td>
                </tr>
              </table>
          </div>
          <div ng-class="{ 'glued' : glued }"><h4 ng-click="log = []">LOG</h4></div>
          <div scroll-glue ng-model="glued" id='log'>
            <ul>
              <li ng-repeat="item in log" class='{{item.class}}'>{{item.txt}}</li>
            </ul>
          </div>
        </div>
      </div>
    </body>
</html>
